{:source-paths
 ["src"]

 :dependencies
 [[reagent "1.2.0"]
  [cljs-http "0.1.46"]
  [org.clojure/core.async "1.6.673"]]

 :builds
 {:app
  {:target :browser
   :output-dir "public/js"
   :asset-path "/js"
   :modules {:app {:init-fn todo-frontend.core/init}}
   :devtools {:http-root "public"
              :http-port 8080}}}}
