{:deps
 {org.clojure/clojure {:mvn/version "1.11.1"}
  ring/ring-core {:mvn/version "1.10.0"}
  ring-cors/ring-cors {:mvn/version "0.1.13"}
  ring/ring-jetty-adapter {:mvn/version "1.10.0"}
  ring/ring-json {:mvn/version "0.5.1"}
  compojure/compojure {:mvn/version "1.7.0"}
  cheshire/cheshire {:mvn/version "5.11.0"}
  io.replikativ/datahike {:mvn/version "0.6.1548"}}

 :aliases
 {:run {:main-opts ["-m" "todo-server.core"]}}}
